* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Helvetica, sans-serif;
  color: #222;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.0;
  overflow-x: hidden;
}

.preview-canvas {
  margin: 10px;
}

#marker-image {
  display: block;
  right: 0;
  width: 74%;
  position: absolute;
  z-index: 0;
}

#parametersMenu {
  position: relative;
  float: right;
  margin: 2em;
  z-index: 5;
}

.parameterItem {
  position: relative;
  float: left;
  clear: both;
  margin-bottom: 0.5em;
}

.parameterItem span {
  position: relative;
  float: left;
  width: 16em;
  line-height: 1.7em;
}

.parameterItem input {
  position: relative;
  float: left;
  width: 5em;
}

#loading_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}

#black_square {
  position: fixed;
  top: 42vh;
  left: 48.5vw;
  width: 3vw;
  height: 3vw;
  background: black;
  -webkit-animation:spin 1s ease-in-out infinite;
  -moz-animation:spin 1s ease-in-out infinite;
  animation:spin 1s ease-in-out infinite;
}

#loading_text {
  position: fixed;
  top: 55vh;
  left: 40vw;
  width: 20vw;
  text-align: center;
}

.hidden {
  display: none;
}

#input-gen {
  position: fixed;
  top: 0;
  left: 2em;
  color: white;
  background: black;
  padding: 10px 10px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  text-decoration: none;
  z-index: 1000;
  transition: all 100ms ease-in-out;
}

#input-gen:hover {
  padding-top: 15px;
}

#toggle-vid {
  background: white;
  padding: 0.3em 0.5em; 
  border: 1px solid black;
  border-radius: 0.25em;
  cursor: pointer;
}

#toggle-vid:hover {
  background: #CCC;
}

#toggle-vid:active {
  background: #777;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(270deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(270deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(270deg); transform:rotate(270deg); } }